<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{LABEL}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>{{RUNNER_PATH}}</string>
  </array>
  <key>WorkingDirectory</key>
  <string>{{ROOT_DIR}}</string>
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>10</integer>
  </dict>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>{{STDOUT_PATH}}</string>
  <key>StandardErrorPath</key>
  <string>{{STDERR_PATH}}</string>
</dict>
</plist>
